.login-container {
  padding: 0px;
  margin: 0px;
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
}

.login-card {
  padding: 40px;
  margin: auto;
  width: 40%;
  height: 80%;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  box-shadow: 0 0 10px 3px gray;
  min-width: 600px;
  min-height: 650px;
}

.login-header {
  color: black;
  font-weight: normal;
}

.submit-button {
  height: 30px;
  border-radius: 5px;
  border: none;
  background-color: blueviolet;
  color: white;
}

.submit-button:hover {
  background-color: rgb(177, 127, 224);
}

.inputs {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.input-field {
  height: 40px;
  border-radius: 20px;
  width: 300px;
  border: black 1px solid;
  padding: 20px;
}

.new-prompt {
  text-align: center;
  padding-top: 30px;
}
